<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <% const mains=menu.filter((e)=>{
        return e.category== "mains"})

        const desserts= menu.filter((e)=>{
        return e.category== "desserts"})

        const sides= menu.filter((e)=>{
        return e.category== "sides"})
        %>
        <h2>mains:</h2>
        <ul>
            <% mains.forEach((e)=>{
                %>
                <h5><%=e.name%>: a <%=e.rating%> stars main course for <%=e.price%>$ and it is <%=e.details%></h5>
           <% }) %>    
        </ul>

        <h2>sides:</h2>
        <ul>
            <% sides.forEach((e)=>{
                %>
                <h5><%=e.name%>: a <%=e.rating%> stars side dish for <%=e.price%>$ and it is <%=e.details%></h5>
           <% }) %>    
        </ul>

        <h2>desserts:</h2>
        <ul>
            <% desserts.forEach((e)=>{
                %>
                <h5><%=e.name%>: a <%=e.rating%> stars main course for <%=e.price%>$ and it is <%=e.details%></h5>
           <% }) %>    
        </ul>




</body>

</html>